.content {
    width: 90%;
    margin: 0 auto;
    font-family: Lato, sans-serif;
}

section {
    margin: 50px 0px;
}

h1, h2 {
    text-align: center;
}

img {
    max-height: 500px;
    max-width: 80%;
    display: inline-block;
}

.right-arrow {
	display: inline-block;
	width: 0;
	top: 50%;
	margin-bottom: 15%;
	height: 0;
	border-top: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid lightgrey;
}

.slide {
    width: fit-content;
    margin: 0 auto;
}

.left-arrow {
	display: inline-block;
	width: 0;
	top: 50%;
	margin-bottom: 15%;
	height: 0;
	border-top: 30px solid transparent;
	border-left: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid lightgrey;
}